body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

select {
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    margin-top: 7px;
    font-size: 1.25em;
    font-weight: 700;
    border-radius: 4px;
    width: 85%;
    height: 35px;
    background-color: rgb(77, 77, 77);
    display: inline-block;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(77, 77, 77);
    margin-bottom: 10px;
    transition: 0.3s;
}

select::-ms-expand {
    display: none;
}

select:hover {
    border: 1px solid #000;
    color: #000;
    background-color: rgb(187, 187, 187);
}

#main {
    transition: margin-left .5s;
    padding: 5px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: 1.25em;
    font-weight: 700;
    border-radius: 4px;
    width: 85%;
    height: 35px;
    background-color: rgb(77, 77, 77);
    display: inline-block;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(77, 77, 77);
    margin-bottom: 7px;
    transition: 0.3s;
}

.inputfile:focus+label,
.inputfile+label:hover {
    border: 1px solid #000;
    color: #000;
    background-color: rgb(187, 187, 187);
}

.uploadform {
    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    margin-left: 20px;
    width: 300px;
    line-height: 35px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #000;
    box-shadow: 0px 0px 0px black, 0 0 5px rgb(102, 102, 102);
}

textarea {
    overflow: hidden;
    display: block;
    resize: none;
    width: 85%;
    margin: 3px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 3px;
    padding-left: 10px;
    transition: 0.2s;
}

textarea:focus {
    outline: none;
    box-shadow: 0px 0px 0px black, 0 0 5px rgb(102, 102, 102);
}

button {
    margin-top: 7px;
    font-size: 1.25em;
    font-weight: 700;
    border-radius: 4px;
    width: 85%;
    height: 35px;
    background-color: rgb(77, 77, 77);
    display: inline-block;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(77, 77, 77);
    margin-bottom: 10px;
    transition: 0.3s;
}

button:hover {
    border: 1px solid #000;
    color: #000;
    background-color: rgb(187, 187, 187);
}